@page
@model LES_passagens_areas.Pages.analiseModel
@{
    ViewData["Title"] = "Análise";
}

<h2>Análise</h2>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/lib/datatables.min.css">
<script type="text/javascript" src="~/lib/datatables.min.js"></script><!---->
<script src="~/js/jquery.mask.min.js"></script>
<script type="text/javascript" src="~/lib/chart/Chart.bundle.min.js" 1></script>
<script type="text/javascript" src="~/lib/chart/Chart.min.js"></script>
<div class="chart-container" style="position: relative; height:400px; width:800px">
    <canvas id="myChart"></canvas>
</div>
<script>
    function httpGet(theUrl) {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", theUrl, false); // false for synchronous request
        xmlHttp.send(null);
        return xmlHttp.responseText;
    }

    window.onload = function () {
        var ctx = document.getElementById('myChart').getContext('2d');
        window.myLine = new Chart(ctx, JSON.parse(httpGet('https://localhost:44390/api/devil/analise/0')));
    };
</script>