@page
@model LES_passagens_areas.Pages.sumarioModel
@{
    ViewData["Title"] = "sumario";
}

<h2>sumario</h2>
<TABLE class='display' onload="bora()" id='GridViewcat'>
    <THEAD>
        <tr><th>nome</th><th>qtd</th></tr>
    </THEAD>
    <TBODY>
        @foreach (Dominio.Sumario objUser in Model.GetRoles())
        {
            <tr><td>@objUser.Dep.Nome</td><td><input type="button" value="@objUser.Qtd" onclick="window.location.href='./status?dep=@objUser.Dep.ID';" /> </td></tr>
        }
</TABLE>